/* geral */

:root {
    --main-color: #f514ba;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --secondary-color: #ff7312;
    --tertiary-color: #eff3f4;
    --background-secondary: linear-gradient(
        to right,
        #c36600,
        #ff7312,
        #ffb84d
    );
    --background-secondary-left: linear-gradient(
        to left,
        #c36600,
        #ff7312,
        #ffb84d
    );
    --background-primary: linear-gradient(to right, #a5027f, #f514ba, #ff6ec7);
    --background-primary-left: linear-gradient(
        to left,
        #a5027f,
        #f514ba,
        #ff6ec7
    );
}

* {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* Cor da barra de rolagem */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(
        --main-color
    ); /* Cor do indicador da barra de rolagem */
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: #ff6ec7; /* Cor do fundo da barra de rolagem */
}

/* form-styele-modal */

i {
    font-size: 3.5rem;
    color: var(--main-color);
    margin: auto;
}

.display-none {
    display: none;
}

footer p {
    padding-left: 9%;
    padding-right: 2rem;
}

.bold {
    font-weight: bold;
}

.none-text-transform {
    text-transform: none !important;
}

/* wpp button */
.whatsapp-button {
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    border-radius: 50%;
}

.wpp-link-bottom {
    width: 50px;
    height: 50px;
    color: rgb(0, 255, 0);
    font-size: 2rem;
}

/* header */

.logo-nav {
    width: 200px;
}

.nav-item {
    text-transform: uppercase !important ;
}

#header-primary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.main-image-background {
    padding-top: 2rem;
    background-color: var(--main-color);
    background-image: url("../img/mainbannercell.webp");
    background-size: cover;
    background-position: center;
    color: var(--secondary-text-color);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.transition-text {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
    text-shadow: 1px 1px 2px var(--primary-text-color);
}

#transition-text {
    font-size: 1.5rem;
    font-weight: 1000;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-shadow: 2px 2px 2px 2px var(--primary-text-color);
}

.mockaup-mobile {
    width: 310px;
    margin-bottom: 1rem;
}

.logo-main {
    width: 300px;
    padding-bottom: 2rem;
}

/* main */

#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: var(--background-secondary);
}

#section-description {
    padding: 1rem;
    color: var(--secondary-text-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#section-description img {
    width: 200px;
}

#section-description h3 {
    font-size: 1.5rem;
}

#section-descrition p {
    font-weight: bold;
}

/* mockaup */
#mockaup {
    border-top: 3px solid var(--main-color);
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--secondary-text-color);
}

/* back to top */
.back-to-top {
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 1;
    position: fixed;
    right: 10px;
    bottom: 1rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    width: 50px;
    height: 50px;
    display: flex;
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#section-model-stores {
    margin-top: 2rem;
    background-image: var(--background-primary-left);
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
}

.model-stores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.model-stores img {
    width: 300px;
    border-radius: 2rem;
    border-bottom: 8px solid var(--secondary-color);
    border-right: 8px solid var(--secondary-color);
}

#section-model-stores p {
    text-align: center;
    margin-top: 1rem;
    text-transform: capitalize;
}

#section-benefits-store {
    margin-top: 2rem;
    background-image: var(--background-secondary);
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
}

.subtitle-benefits {
    text-align: center;
    font-size: 1rem;
    padding: 2rem 2rem;
}

.card-title {
    text-align: center;
}

#section-services {
    margin-top: 2rem;
    background-image: url("../img/suppliers.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--secondary-text-color);
    height: 100vh;
}

#section-services img {
    margin: auto;
    width: 250px;
}

.title-primary-section {
    font-size: 1rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 250px;
    background-color: var(--secondary-color);
    border-radius: 3rem;
    transition: 1s;
}

.title-primary-section:hover {
    background-color: var(--secondary-text-color);
    color: var(--main-color);
}

.title-secondary-section {
    font-size: 1rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 250px;
    background-color: var(--main-color);
    border-radius: 3rem;
    transition: 1s;
}

.title-secondary-section:hover {
    background-color: var(--secondary-text-color);
    color: var(--secondary-color);
}

.main-img-services {
    border-radius: 1rem;
    width: 250px;
}

.suppliers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--secondary-text-color);
}

.suppliers img {
    width: 100px;
}

.image-suppliers {
    padding: 1rem;
}

#section-differentials {
    margin-top: 2rem;
    padding: 1rem;
    background-image: var(--background-primary);
    color: var(--secondary-text-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-information-differentials {
    background-color: var(--secondary-text-color);
    padding: 1.4rem;
    color: var(--secondary-color);
    border-radius: 1rem;
    text-align: justify;
}

.container-information-differentials h4 {
    font-weight: bold;
    margin: 2rem;
    color: var(--main-color);
}

.container-information-differentials > p {
    font-size: 1.2rem;
}

.container-information-differentials > p > span {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-color);
}

#section-about {
    margin-top: 2rem;
    padding: 1rem;
    background-image: var(--background-secondary);
    color: var(--secondary-text-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.division-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-text-title {
    margin-top: 2rem;
}

.social-media-icons-about {
    display: flex;
    gap: 2rem;
}

#section-differentials img {
    margin: 1rem;
    width: 250px;
    border-radius: 1rem;
}

#section-about img {
    margin: 1rem;
    width: 250px;
    border-radius: 1rem;
}

.about-text-information h4 {
    text-align: center;
}
.about-text-information {
    padding: 1rem;
    text-align: justify;
    width: 300px;
}

.credit-card-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1.5rem;
    gap: 1rem;
}

#creditCardName {
    border: 1px solid var(--secondary-color);
    color: #a5027f;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 1rem;
    height: 70px;
}

.btn-test-credit-card {
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

#messageCreditCardApprove {
    display: none;
    background-color: var(--secondary-color);
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

#section-evidence {
    margin-top: 2rem;
    background-image: var(--background-primary-left);
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
}
.division-quote-image {
    display: flex;
    justify-content: space-between;
}

.image-quote {
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    padding: 0.4rem;
    width: 100px;
}

.quote-texts {
    gap: 1rem;
    display: flex;
    width: 300px;
    overflow: auto; /* define overflow para permitir rolagem */
}

.quote-text {
    padding: 0.5rem;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    height: 450px;
    font-style: italic;
    font-size: 1rem;
    margin: 0 auto;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color);
    background-color: var(--secondary-text-color);
}

.quote-text:hover {
    filter: drop-shadow(0 0 1em var(--main-color));
}

.quote-text h4 {
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.quote-text p {
    text-align: justify;
    margin-right: 1rem;
}
.body-text-quote {
    width: 100%;
    border-radius: 1rem;
    background-color: #c0c0c0ca;
    padding: 0.5rem;
}

#section-faq {
    text-align: center;
    padding: 1rem;
    color: var(--secondary-text-color);
}

.title-and-img-faq {
    display: flex;
    flex-direction: column;
}

.title-and-img-faq img {
    width: 288px;
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

.btn-faq {
    display: flex;
    background-color: var(--secondary-color);
    height: 50px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    text-transform: uppercase;
    transition: 1s;
}

.btn-faq:hover {
    background-color: var(--secondary-text-color);
    color: var(--main-color);
    border: none;
    border-bottom: 0.5px solid var(--main-color);
}

.btn-faq-show-text {
    border: none;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    border-bottom: 0.5px solid var(--main-color);
    transition: 1s;
}

.btn-faq-show-text:hover {
    background-color: var(--main-color);
    color: var(--secondary-text-color);
    border: none;
    border-bottom: 1px solid var(--main-color);
}
.accordion-body {
    border: none;
    border-bottom: 1px solid var(--main-color);
}

#section-company-vision {
    margin-top: 5rem;
    color: var(--secondary-text-color);
}

.center-btn {
    display: flex;
    justify-content: center;
}

.center-btn > h3 {
    border: 1px solid var(--main-color) !important;
}
.company-vision {
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-text-color) !important;
    flex-wrap: wrap;
}

.about-visions {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.about-visions > i {
    height: 90px !important;
}
.about-visions > h4 {
    height: 50px !important;
}

.about-visions > p {
    height: 250px !important;
}

.mission-values {
    text-align: left;
    text-transform: uppercase;
}

.mission-values > span {
    color: var(--main-color);
    font-weight: bold;
}

#modalMissionValues {
    border-radius: 1rem;
    border: none;
    background-color: var(--secondary-color);
    width: 150px;
    height: 50px;
    color: var(--secondary-text-color);
    transition: 1s;
}

#modalMissionValues:hover {
    background-color: var(--secondary-text-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.middle-border {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#section-contact-us {
    margin-top: 2rem;
    padding: 1rem;
    background-image: var(--background-secondary);
    color: var(--secondary-text-color);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-subtitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.send-direct-message {
    font-size: 1rem;
}

.form-container-contact {
    width: 250px;
    border: 1px solid var(--main-color);
    height: auto;
    background-color: var(--secondary-text-color);
    padding: 1rem;
    margin: auto;
    color: var(--primary-text-color);
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.btn-whats {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    margin: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    transition: 3s;
}
.link-none {
    text-decoration: none;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.btn-whats-card {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    animation: pulsar 2s infinite ease-in-out;
}

.wpp {
    font-size: 1rem;
    color: rgb(0, 255, 0);
    font-weight: bold;
    margin-left: 0.3rem;
}

.btn-whats:hover {
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-color);
    filter: drop-shadow(0 0 2em var(--secondary-color));
    color: var(--main-color);
}

.btn-whats-secondary {
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    margin: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    transition: 3s;
}

.btn-whats-secondary:hover {
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-color);
    filter: drop-shadow(0 0 2em var(--main-color));
    color: var(--secondary-color);
}

.btn-about {
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    width: 300px;
    border-radius: 1rem;
    border: none;
    transition: 1s;
    margin-top: 1rem;
}

.btn-about:hover {
    background-color: #ff3fcc;
}

.btn-about-secondary {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    width: 300px;
    border-radius: 1rem;
    border: none;
    transition: 1s;
    margin-top: 1rem;
}

.btn-about-secondary:hover {
    background-color: #ff9d4e;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.footer-logo {
    width: 200px;
}

.container-footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--main-color);
}
.summary-map {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
}

.container-footer-content > a {
    text-decoration: none;
    color: var(--primary-text-color);
    text-transform: uppercase;
}

.container-footer-content > a > p:hover {
    border-bottom: 1px solid var(--main-color);
}

#ppPrivacyPolicyBtn {
    margin: auto;
    border: none;
    width: 200px;
    height: 30px;
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    border-radius: 0.5rem;
}
.first {
    border-top: none;
}

/* desktop */

@media screen and (min-width: 768px) {
    /* geral */
    #transition-text {
        font-size: 2rem;
        font-weight: 900;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .main-image-background {
        background-color: var(--main-color);
        background-image: url("../img/mainbanner.webp");
        background-size: cover;
        background-position: center;
        color: var(--secondary-text-color);
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }

    #main-content p {
        font-size: 1.5rem !important;
    }

    .btn-whats {
        width: 175px;
        height: 70px;
        font-size: 1rem;
    }
    .btn-whats:hover {
        filter: drop-shadow(0 0 2em var(--secondary-color));
    }

    .btn-whats-secondary {
        width: 175px;
        height: 70px;
        font-size: 1rem;
    }
    .btn-whats-secondary:hover {
        filter: drop-shadow(0 0 2em var(--main-color));
    }

    #header-primary h1 {
        margin-top: -3%;
    }

    .title-primary-section {
        font-size: 1.5rem;
        width: 400px;
        height: 100px;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .title-secondary-section {
        font-size: 1.5rem;
        width: 400px;
        height: 100px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .btn-faq {
        width: 400px;
        height: 100px;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
    }

    .adjust-accordion {
        width: 600px;
    }

    /*  */
    #section-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1000px;
        align-items: center;
        margin: auto;
    }
    #section-description img {
        width: 400px;
        margin-right: 1rem;
        border-radius: 1rem;
    }
    #section-description h3 {
        font-size: 2rem;
        font-weight: bolder;
    }
    #section-description p {
        text-align: justify;
        border-radius: 1rem;
        font-size: 1rem;
        padding: 2rem;
    }
    /*  */
    #mockaup {
        display: none;
    }

    /*  */

    .carousel {
        margin: auto;
        margin-top: 1.5rem;
        width: 600px;
    }

    /*  */
    #section-model-stores {
        text-align: center;
    }

    #section-model-stores p {
        font-size: 1.5rem;
        padding: 1rem 10%;
    }

    .subtitle-benefits {
        font-size: 1.5rem;
        padding: 1rem 10%;
    }

    .model-stores img {
        margin-top: 0.5rem;
        width: 450px;
        height: 300px;
    }

    .adjust-cards-desktop {
        width: 100%;
        padding: 4rem;
    }

    #cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    #section-services img {
        width: 500px;
    }

    .division-screen {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #section-about {
        background-image: url("../img/background-about.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section-about img {
        width: 400px;
    }

    .title-and-img-faq img {
        width: 435px;
        margin-right: 1rem;
    }
    .about-text-information h4 {
        text-align: left;
    }

    .about-text-information {
        width: 600px;
    }

    .quote-texts {
        width: 90%;
        height: 500px;
        margin-top: 1rem;
    }

    .quote-text {
        padding: 1rem;
    }

    #section-faq {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }

    .middle-border {
        border: none;
        border-left: 1px solid var(--main-color);
        border-right: 1px solid var(--main-color);
        width: 400px;
    }

    .contact-subtitle {
        width: 450px;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .form-container-contact {
        width: 450px;
    }

    .send-direct-message {
        font-size: 1.5rem;
    }
    .container-footer-content {
        border: none;
        width: 300px;
        padding: 0.5rem;
        border-right: 1px solid var(--main-color);
    }
    .last {
        border: none;
    }
    #section-differentials img {
        width: 350px;
        margin-top: -20rem;
    }
}
